<template>
  <div class="app-component-container"
    ><div class="app-component-sidebar"
      ><nav class="app-component-nav"
        ><svg viewBox="0 0 1024 1024" class="app-component-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path></svg
        ><span class="app-component-text">{{ text }}</span
        ><span class="app-component-text1">{{ text1 }}</span
        ><span class="app-component-text2">{{ text2 }}</span
        ><span class="app-component-text3">{{ text3 }}</span></nav
      ><div class="app-component-profile"
        ><img :alt="imageAlt" :src="imageSrc" class="app-component-image" /><div
          class="app-component-container1"
          ><span class="app-component-text4">{{ text4 }}</span
          ><span class="app-component-text5">{{ text5 }}</span></div
        ></div
      ></div
    ></div
  >
</template>

<script>
export default {
  name: 'AppComponent',
  props: {
    imageAlt: {
      type: String,
      default: 'image',
    },
    text2: {
      type: String,
      default: 'Тренеры',
    },
    text3: {
      type: String,
      default: 'Выйти',
    },
    imageSrc: {
      type: String,
      default:
        'https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&ixlib=rb-1.2.1&w=200',
    },
    text: {
      type: String,
      default: 'Настройки',
    },
    text4: {
      type: String,
      default: 'Имя ученика',
    },
    text5: {
      type: String,
      default: 'View Profile',
    },
    text1: {
      type: String,
      default: 'Сообщения',
    },
  },
}
</script>

<style scoped>
.app-component-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.app-component-sidebar {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
}
.app-component-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.app-component-icon {
  fill: var(--dl-color-gray-white);
  width: 32px;
  height: 29px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.app-component-text {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.app-component-text1 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.app-component-text2 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.app-component-text3 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.app-component-profile {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.app-component-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.app-component-container1 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.app-component-text4 {
  color: var(--dl-color-gray-900);
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.app-component-text5 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}
@media(max-width: 1330px) {
  .app-component-text {
    opacity: 0;
  }
  .app-component-text1 {
    opacity: 0;
  }
  .app-component-text2 {
    opacity: 0;
  }
  .app-component-text3 {
    opacity: 0;
  }
  .app-component-profile {
    opacity: 0;
  }
}
@media(max-width: 991px) {
  .app-component-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .app-component-image {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .app-component-icon {
    display: flex;
  }
}
</style>
