<template>
  <div class="sidebar-sidebar"
    ><nav class="sidebar-nav"
      ><router-link to="/page" class="sidebar-navlink"
        ><svg viewBox="0 0 1024 1024" class="sidebar-icon">
          <path
            d="M726 666l-154-154 154-154-60-60-154 154-154-154-60 60 154 154-154 154 60 60 154-154 154 154zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path></svg></router-link
      ><span class="sidebar-text">{{ text }}</span
      ><span class="sidebar-text1">{{ text1 }}</span
      ><span class="sidebar-text2">{{ text2 }}</span
      ><span class="sidebar-text3">{{ text3 }}</span></nav
    ><div class="sidebar-profile"
      ><img :alt="imageAlt" :src="imageSrc" class="sidebar-image" /><div
        class="sidebar-container"
        ><span class="sidebar-text4">{{ text4 }}</span
        ><span class="sidebar-text5">{{ text5 }}</span></div
      ></div
    ></div
  >
</template>

<script>
export default {
  name: 'Sidebar',
  props: {
    text: {
      type: String,
      default: 'Настройки',
    },
    text1: {
      type: String,
      default: 'Сообщения',
    },
    imageSrc: {
      type: String,
      default:
        'https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&ixlib=rb-1.2.1&w=200',
    },
    text5: {
      type: String,
      default: 'View Profile',
    },
    text2: {
      type: String,
      default: 'Тренеры',
    },
    text4: {
      type: String,
      default: 'Имя ',
    },
    text3: {
      type: String,
      default: 'Выйти',
    },
    imageAlt: {
      type: String,
      default: 'image',
    },
  },
}
</script>

<style scoped>
.sidebar-sidebar {
  width: 306px;
  height: 1399px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0);
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.sidebar-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1px;
  flex-direction: column;
}
.sidebar-navlink {
  display: contents;
}
.sidebar-icon {
  fill: var(--dl-color-gray-white);
  width: 43px;
  height: 48px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.sidebar-text {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.sidebar-text1 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.sidebar-text2 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.sidebar-text3 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.sidebar-profile {
  width: 242px;
  height: 93px;
  display: flex;
  padding: 0p0x;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.sidebar-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.sidebar-container {
  width: 158px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-text4 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0.25rem;
  text-transform: none;
  text-decoration: none;
}
.sidebar-text5 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}
@media(max-width: 1330px) {
  .sidebar-nav {
    opacity: 1;
  }
  .sidebar-text {
    opacity: 1;
  }
  .sidebar-text1 {
    opacity: 1;
  }
  .sidebar-text2 {
    opacity: 1;
  }
  .sidebar-text3 {
    opacity: 1;
  }
  .sidebar-profile {
    opacity: 1;
  }
}
@media(max-width: 991px) {
  .sidebar-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .sidebar-image {
    margin-left: 0px;
  }
}
</style>
