<template>
  <div class="create-profile-coach-container">
    <header class="create-profile-coach-container1">
      <span class="create-profile-coach-logo logo">FitMatch</span>
      <input
        type="text"
        placeholder="Имя"
        class="create-profile-coach-textinput input"
      />
      <textarea
        name="О себе"
        placeholder="О себе"
        class="create-profile-coach-textarea textarea"
      ></textarea>
      <input
        type="text"
        placeholder="Телефон"
        class="create-profile-coach-textinput1 input"
      />
      <input
        type="text"
        placeholder="Цена за тренировку"
        class="create-profile-coach-textinput2 input"
      />
      <input
        type="text"
        placeholder="Место проведения тренировок"
        class="create-profile-coach-textinput3 input"
      />
      <input
        type="text"
        placeholder="Расписание тренировок"
        class="create-profile-coach-textinput4 input"
      />
      <span class="create-profile-coach-text">
        <span class="create-profile-coach-text1">Coach Profile</span>
        <br class="create-profile-coach-text2" />
        <br />
      </span>
      <button type="button" class="create-profile-coach-button button">
        <span class="create-profile-coach-text4">
          <span>Сохранить</span>
          <br />
        </span>
      </button>
    </header>
  </div>
</template>

<script>
export default {
  name: 'CreateProfileCoach',
  props: {},
  metaInfo: {
    title: 'Create-profile-coach - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'Create-profile-coach - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.create-profile-coach-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-neutral-dark);
}
.create-profile-coach-container1 {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-custom-neutral-dark);
}
.create-profile-coach-logo {
  top: 30px;
  left: 30px;
  color: var(--dl-color-gray-700);
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: left;
}
.create-profile-coach-textinput {
  top: 100px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-coach-textarea {
  top: 300px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 120px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-coach-textinput1 {
  top: 200px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-coach-textinput2 {
  top: 460px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-coach-textinput3 {
  top: 560px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-coach-textinput4 {
  top: 660px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-coach-text {
  top: 30px;
  left: 0px;
  color: var(--dl-color-gray-700);
  right: 0px;
  width: 200px;
  height: 30px;
  margin: auto;
  position: absolute;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.create-profile-coach-text1 {
  font-size: 24px;
}
.create-profile-coach-text2 {
  font-size: 24px;
}
.create-profile-coach-button {
  top: 760px;
  left: 0px;
  color: var(--dl-color-gray-700);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  border-width: 0px;
  text-transform: capitalize;
  background-color: var(--dl-color-custom-neutral-dark);
}
.create-profile-coach-text4 {
  color: var(--dl-color-gray-white);
}
@media(max-width: 1600px) {
  .create-profile-coach-button {
    color: var(--dl-color-gray-700);
    font-size: 18px;
    text-transform: capitalize;
    background-color: var(--dl-color-custom-neutral-dark);
  }
}
</style>
