<template>
  <div class="create-profile-student-container">
    <header class="create-profile-student-container1">
      <span class="create-profile-student-logo logo">FitMatch</span>
      <input
        type="text"
        placeholder="Имя"
        class="create-profile-student-textinput input"
      />
      <textarea
        multiple="О себе"
        placeholder="About you"
        class="create-profile-student-textarea textarea"
      ></textarea>
      <input
        type="text"
        placeholder="Телефон"
        class="create-profile-student-textinput1 input"
      />
      <span class="create-profile-student-text">
        <span class="create-profile-student-text1">student Profile</span>
        <br class="create-profile-student-text2" />
        <br />
      </span>
      <button type="button" class="create-profile-student-button button">
        Save
      </button>
      <select class="create-profile-student-select">
        <option value="lose-weight" class="create-profile-student-option">
          Сбросить вес
        </option>
        <option value="muscle-mass" class="create-profile-student-option1">
          Набрать мышечную массу
        </option>
        <option value="health" class="create-profile-student-option2">
          Для здоровья
        </option>
      </select>
      <select class="create-profile-student-select1">
        <option value="beginner">Начинающий</option>
        <option value="experienced" class="create-profile-student-option4">
          Опытный
        </option>
        <option value="pro" class="create-profile-student-option5">
          Профессионал
        </option>
      </select>
    </header>
  </div>
</template>

<script>
export default {
  name: 'CreateProfileStudent',
  props: {},
  metaInfo: {
    title: 'Create-profile-student - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'Create-profile-student - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.create-profile-student-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-neutral-dark);
}
.create-profile-student-container1 {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-custom-neutral-dark);
}
.create-profile-student-logo {
  top: 30px;
  left: 30px;
  color: var(--dl-color-gray-700);
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: left;
}
.create-profile-student-textinput {
  top: 100px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-textarea {
  top: 300px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 120px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-textinput1 {
  top: 200px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-text {
  top: 30px;
  left: 0px;
  color: var(--dl-color-gray-700);
  right: 0px;
  width: 300px;
  height: 30px;
  margin: auto;
  position: absolute;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.create-profile-student-text1 {
  font-size: 24px;
}
.create-profile-student-text2 {
  font-size: 24px;
}
.create-profile-student-button {
  top: 660px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  border-width: 0px;
  text-transform: capitalize;
  background-color: var(--dl-color-custom-neutral-dark);
}
.create-profile-student-select {
  top: 460px;
  color: var(--dl-color-gray-700);
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-option {
  color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-option1 {
  color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-option2 {
  color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-select1 {
  top: 560px;
  color: var(--dl-color-gray-700);
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-option4 {
  color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-black);
}
.create-profile-student-option5 {
  color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-black);
}
</style>
