<template>
  <div class="home-container">
    <div class="home-header">
      <header
        data-thq="thq-navbar"
        class="navbarContainer home-navbar-interactive"
      >
        <span class="home-logo logo">FitMatch</span>
        <div data-thq="thq-navbar-nav" class="home-desktop-menu">
          <nav class="home-links">
            <span class="home-nav12"><router-link to="/">Главная</router-link></span>
            <span class="home-nav22" ><router-link to="/page">Найти тренера</router-link></span>
            <span class="home-nav32"><router-link to="/register">Стать тренером</router-link></span>
            <span class="home-nav42">Связаться с нами</span>
          </nav>
          <div class="home-buttons">
            <router-link to="/login" class="home-login buttonFlat">
              <span>
                <span>Вход</span>
                <br />
              </span>
            </router-link>
            <router-link to="/register" class="home-register buttonFlat">
              <span>
                <span>Регистрация</span>
                <br />
              </span>
            </router-link>
            <router-link to="/page" class="home-nav22"></router-link>
          </div>
        </div>
      </header>
    </div>
    <div class="home-hero">
      <div class="heroContainer home-hero1">
        <div class="home-container1">
          <h1 class="home-hero-heading heading1">Найди своего тренера</h1>
          <span class="home-hero-sub-heading bodyLarge">
            <span>
              <span>
                <span><span v-html="rawkkk5"></span></span>
              </span>
              <span>
                <span><span v-html="rawd2fa"></span></span>
                <span><span v-html="raww4ya"></span></span>
              </span>
            </span>
            <span>
              <span>
                <span><span v-html="rawlpb0"></span></span>
                <span><span v-html="rawwvv4"></span></span>
              </span>
              <span>
                <span><span v-html="rawgnv5"></span></span>
                <span><span v-html="rawgb7p"></span></span>
              </span>
            </span>
          </span>
          <div class="home-btn-group">
            <router-link to="/register" class="home-hero-button1 bodyLarge">
              Начать
            </router-link>
            <button class="home-hero-button2 bodyLarge buttonFlat">
              Узнать больше
            </button>
          </div>
        </div>
        <span class="home-logo1 logo">FitMatch</span>
      </div>
    </div>
    <div class="home-features">
      <div class="featuresContainer">
        <div class="home-features1">
          <div class="home-container2">
            <span class="home-text20">Почему именно мы?</span>
            <h2 class="home-features-heading Heading">
              Узнай о наших преймуществах
            </h2>
          </div>
          <div class="home-container3 bodyLarge">
            <feature-card
              heading="Поиск тренера"
              subHeading="Здесь можно легко найти и связаться с тренером"
            ></feature-card>
            <feature-card
              heading="Связь с тренером"
              subHeading="Тренер будет держать с вами связь и поддерживать вас"
            ></feature-card>
            <feature-card
              heading="Поиск учеников"
              subHeading="Тренер тоже может искать учеников"
            ></feature-card>
            <feature-card
              heading="Персональные тренировки"
              subHeading="Тренер будет составлять вам план индивидуально"
            ></feature-card>
          </div>
        </div>
      </div>
    </div>
    <div class="home-banner">
      <div class="bannerContainer home-banner1">
        <h1 class="home-banner-heading heading2">
          Добро пожаловать на платформу
        </h1>
        <span class="home-banner-sub-heading bodySmall">
          <span>
            <span>
              <span><span v-html="raw69ea"></span></span>
            </span>
            <span>
              <span><span v-html="rawneez"></span></span>
              <span><span v-html="rawfkwd"></span></span>
            </span>
          </span>
          <span>
            <span>
              <span><span v-html="rawwf40"></span></span>
              <span><span v-html="rawsh0y"></span></span>
            </span>
            <span>
              <span><span v-html="rawvpgv"></span></span>
              <span><span v-html="rawf4ll"></span></span>
            </span>
          </span>
        </span>
        <button class="home-banner-button buttonFilled">Узнать больше</button>
      </div>
    </div>
    <div class="home-faq">
      <div class="faqContainer">
        <div class="home-faq1">
          <div class="home-container4">
            <span class="overline">
              <span>FAQ</span>
              <br />
            </span>
            <h2 class="home-text52">Распространенные вопросы</h2>
          </div>
          <div class="home-container5">
            <app-question1
              answer="Вы можете искать тренеров по физической культуре, основываясь на их опыте, местонахождении, доступности и отзывах. Как только вы найдете подходящего тренера, вы можете отправить ему сообщение, чтобы обсудить дальнейшие детали."
              question="Как найти тренера по физической подготовке на этой платформе?"
              rootClassName="question1-root-class-name"
            ></app-question1>
            <app-question1
              answer="Да, вы можете написать тренеру по физической подготовке, чтобы обсудить ваши фитнес-цели, наличие свободных мест, цены и любые другие вопросы, которые могут возникнуть у вас перед бронированием занятий."
              question="Могу ли я пообщаться с тренером по физической подготовке до бронирования занятия?"
            ></app-question1>
            <app-question1
              answer="Тренеры по физической подготовке могут искать потенциальных учеников, исходя из их фитнес-целей, местоположения, доступности и бюджета. Затем они могут связаться с заинтересованными студентами и предложить свои тренерские услуги."
              question="Как тренеры находят учеников?"
            ></app-question1>
            <app-question1
              answer="Да, студенты могут оценивать и оценивать тренеров по физкультуре, основываясь на своем опыте. Эти оценки и отзывы помогают другим пользователям принимать взвешенные решения при выборе тренера."
              question="Существует ли  система рейтингов для тренеров по физической подготовке?"
            ></app-question1>
            <app-question1
              answer="Если вы не удовлетворены предоставленными тренерскими услугами, вы можете обратиться в нашу службу поддержки, чтобы решить свои проблемы. Мы стремимся обеспечить положительный опыт работы на нашей платформе как для студентов, так и для тренеров."
              question="Что делать, если меня не устраивают услуги коучинга?"
            ></app-question1>
          </div>
        </div>
      </div>
    </div>
    <div class="home-footer">
      <footer class="footerContainer home-footer1">
        <div class="home-container6">
          <span class="home-logo2">
            <span class="logo">FitMatch</span>
            <br />
          </span>
          <nav class="home-nav">
            <span class="home-nav121">Главная</span>
            <span class="home-nav221">Найти тренера</span>
            <span class="home-nav321">Стать тренером</span>
            <span class="home-nav421">Связаться с нами</span>
          </nav>
        </div>
        <div class="home-separator"></div>
        <div class="home-container7">
          <span class="home-text55 bodySmall">
            © 2024 FitMatch, Все права защищены.
          </span>
          <div class="home-icon-group">
            <svg
              viewBox="0 0 950.8571428571428 1024"
              class="home-icon socialIcons"
            >
              <path
                d="M925.714 233.143c-25.143 36.571-56.571 69.143-92.571 95.429 0.571 8 0.571 16 0.571 24 0 244-185.714 525.143-525.143 525.143-104.571 0-201.714-30.286-283.429-82.857 14.857 1.714 29.143 2.286 44.571 2.286 86.286 0 165.714-29.143 229.143-78.857-81.143-1.714-149.143-54.857-172.571-128 11.429 1.714 22.857 2.857 34.857 2.857 16.571 0 33.143-2.286 48.571-6.286-84.571-17.143-148-91.429-148-181.143v-2.286c24.571 13.714 53.143 22.286 83.429 23.429-49.714-33.143-82.286-89.714-82.286-153.714 0-34.286 9.143-65.714 25.143-93.143 90.857 112 227.429 185.143 380.571 193.143-2.857-13.714-4.571-28-4.571-42.286 0-101.714 82.286-184.571 184.571-184.571 53.143 0 101.143 22.286 134.857 58.286 41.714-8 81.714-23.429 117.143-44.571-13.714 42.857-42.857 78.857-81.143 101.714 37.143-4 73.143-14.286 106.286-28.571z"
              ></path></svg
            ><svg
              viewBox="0 0 877.7142857142857 1024"
              class="home-icon2 socialIcons"
            >
              <path
                d="M585.143 512c0-80.571-65.714-146.286-146.286-146.286s-146.286 65.714-146.286 146.286 65.714 146.286 146.286 146.286 146.286-65.714 146.286-146.286zM664 512c0 124.571-100.571 225.143-225.143 225.143s-225.143-100.571-225.143-225.143 100.571-225.143 225.143-225.143 225.143 100.571 225.143 225.143zM725.714 277.714c0 29.143-23.429 52.571-52.571 52.571s-52.571-23.429-52.571-52.571 23.429-52.571 52.571-52.571 52.571 23.429 52.571 52.571zM438.857 152c-64 0-201.143-5.143-258.857 17.714-20 8-34.857 17.714-50.286 33.143s-25.143 30.286-33.143 50.286c-22.857 57.714-17.714 194.857-17.714 258.857s-5.143 201.143 17.714 258.857c8 20 17.714 34.857 33.143 50.286s30.286 25.143 50.286 33.143c57.714 22.857 194.857 17.714 258.857 17.714s201.143 5.143 258.857-17.714c20-8 34.857-17.714 50.286-33.143s25.143-30.286 33.143-50.286c22.857-57.714 17.714-194.857 17.714-258.857s5.143-201.143-17.714-258.857c-8-20-17.714-34.857-33.143-50.286s-30.286-25.143-50.286-33.143c-57.714-22.857-194.857-17.714-258.857-17.714zM877.714 512c0 60.571 0.571 120.571-2.857 181.143-3.429 70.286-19.429 132.571-70.857 184s-113.714 67.429-184 70.857c-60.571 3.429-120.571 2.857-181.143 2.857s-120.571 0.571-181.143-2.857c-70.286-3.429-132.571-19.429-184-70.857s-67.429-113.714-70.857-184c-3.429-60.571-2.857-120.571-2.857-181.143s-0.571-120.571 2.857-181.143c3.429-70.286 19.429-132.571 70.857-184s113.714-67.429 184-70.857c60.571-3.429 120.571-2.857 181.143-2.857s120.571-0.571 181.143 2.857c70.286 3.429 132.571 19.429 184 70.857s67.429 113.714 70.857 184c3.429 60.571 2.857 120.571 2.857 181.143z"
              ></path></svg
            ><svg
              viewBox="0 0 602.2582857142856 1024"
              class="home-icon4 socialIcons"
            >
              <path
                d="M548 6.857v150.857h-89.714c-70.286 0-83.429 33.714-83.429 82.286v108h167.429l-22.286 169.143h-145.143v433.714h-174.857v-433.714h-145.714v-169.143h145.714v-124.571c0-144.571 88.571-223.429 217.714-223.429 61.714 0 114.857 4.571 130.286 6.857z"
              ></path>
            </svg>
          </div>
        </div>
        <nav class="home-links1"></nav>
      </footer>
    </div>
  </div>
</template>

<script>
import FeatureCard from '../components/feature-card'
import AppQuestion1 from '../components/question1'

export default {
  name: 'Home',
  props: {},
  components: {
    FeatureCard,
    AppQuestion1,
  },
  data() {
    return {
      rawkkk5: ' ',
      rawd2fa: ' ',
      raww4ya: ' ',
      rawlpb0: ' ',
      rawwvv4: ' ',
      rawgnv5: ' ',
      rawgb7p: ' ',
      raw99j7: ' ',
      raw9odc: ' ',
      raw0s5h: ' ',
      rawjh0v: ' ',
      rawxrf0: ' ',
      raw021d: ' ',
      rawx357: ' ',
      raw69ea: ' ',
      rawneez: ' ',
      rawfkwd: ' ',
      rawwf40: ' ',
      rawsh0y: ' ',
      rawvpgv: ' ',
      rawf4ll: ' ',
    }
  },
  metaInfo: {
    title: 'FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-logo {
  color: var(--dl-color-gray-700);
  align-self: center;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-nav12 {
  color: var(--dl-color-gray-700);
}
.home-nav22 {
  color: var(--dl-color-gray-700);
  margin-left: var(--dl-space-space-unit);
}
.home-nav32 {
  color: var(--dl-color-gray-700);
  margin-left: var(--dl-space-space-unit);
}
.home-nav42 {
  color: var(--dl-color-gray-700);
  margin-left: var(--dl-space-space-unit);
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  color: var(--dl-color-gray-700);
  margin-right: 32px;
  text-decoration: none;
}
.home-register {
  color: var(--dl-color-gray-700);
  margin-right: 32px;
  text-decoration: none;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.home-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading {
  color: var(--dl-color-gray-700);
  width: 558px;
  height: 48px;
  max-width: 800px;
  text-align: center;
}
.home-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.home-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-hero-button1 {
  color: var(--dl-color-gray-700);
  font-weight: bold;
  text-decoration: none;
  background-color: var(--dl-color-custom-neutral-dark);
}
.home-hero-button2 {
  color: var(--dl-color-gray-700);
}
.home-logo1 {
  top: 30px;
  left: 30px;
  color: var(--dl-color-gray-700);
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text20 {
  color: var(--dl-color-gray-700);
}
.home-features-heading {
  color: var(--dl-color-gray-700);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.home-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner-heading {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-banner-button {
  color: var(--dl-color-gray-700);
  background-color: transparent;
}
.home-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-container4 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text52 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  font-family: "Hind";
  font-weight: 400;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-logo2 {
  color: var(--dl-color-gray-700);
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.home-nav121 {
  color: var(--dl-color-gray-700);
}
.home-nav221 {
  color: var(--dl-color-gray-700);
  margin-left: var(--dl-space-space-unit);
}
.home-nav321 {
  color: var(--dl-color-gray-700);
  margin-left: var(--dl-space-space-unit);
}
.home-nav421 {
  color: var(--dl-color-gray-700);
  margin-left: var(--dl-space-space-unit);
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text55 {
  color: var(--dl-color-gray-700);
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon4 {
  width: 24px;
  height: 24px;
}
.home-links1 {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 1600px) {
  .home-login {
    color: var(--dl-color-gray-700);
    text-decoration: none;
  }
  .home-register {
    color: var(--dl-color-gray-700);
    text-decoration: none;
  }
  .home-text20 {
    color: var(--dl-color-gray-700);
  }
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
  .home-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-hero-heading {
    text-align: center;
  }
  .home-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-banner-sub-heading {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-faq1 {
    flex-direction: column;
  }
  .home-container4 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text55 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text55 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
</style>
