<template>
  <header class="login-container">
    <span class="login-logo logo">FitMatch</span>
    <input
      type="text"
      placeholder="Введите пароль"
      class="login-textinput input"
      v-model = "password"
    />
    <input
      type="text"
      placeholder="Введите почту"
      class="login-textinput1 input"
      v-model = "email"
    />
    <button type="submit" class="login-button button" v-on:click="login">
      <span class="login-text">Войти</span>
    </button>
    <router-link to="/register" class="login-navlink">
      Еще не зарегистрированы?
    </router-link>
  </header>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Login',
  data() {
    return {
      API_URL: 'http://localhost:3000/auth/login',
      user: null,
      email: '',
      password: '',
      isLoading: false,
    }
  },
  methods: {
    async login() {
      this.isLoading = true
      await axios
      .post(
        `${this.API_URL}`,
        { email: this.email, password: this.password},
        {
          headers: { 'Content-Type': 'application/json'},
        }
      )
      .then(({ data }) => {
          this.user = data.user
          this.isLoading = false
      })
    }
  },
  props: {},
  metaInfo: {
    title: 'Login - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'Login - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.login-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-neutral-dark);
}
.login-logo {
  top: 30px;
  left: 30px;
  color: var(--dl-color-gray-700);
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.login-textinput {
  top: 350px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.login-textinput1 {
  top: 250px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.login-button {
  top: 450px;
  left: 0px;
  color: var(--dl-color-gray-700);
  right: 0px;
  margin: auto;
  position: absolute;
  border-width: 0px;
  background-color: transparent;
}
.login-text {
  color: var(--dl-color-gray-900);
  font-size: 18px;
}
.login-navlink {
  top: 550px;
  left: 0px;
  color: var(--dl-color-gray-700);
  right: 0px;
  width: 220px;
  height: 30px;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .login-text {
    font-size: 18px;
  }
  .login-navlink {
    color: var(--dl-color-gray-700);
    text-decoration: none;
  }
}
</style>
