<template>
  <div class="messanger-container"
    ><div class="messanger-container01"
      ><div data-thq="thq-dropdown" class="messanger-dropdown list-item"
        ><ul data-thq="thq-dropdown-list" class="messanger-dropdown-list"
          ><li data-thq="thq-dropdown" class="messanger-dropdown1 list-item"
            ><div data-thq="thq-dropdown-toggle" class="messanger-dropdown-toggle"
              ><span class="messanger-text">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="messanger-dropdown2 list-item"
            ><div
              data-thq="thq-dropdown-toggle"
              class="messanger-dropdown-toggle1"
              ><span class="messanger-text01">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="messanger-dropdown3 list-item"
            ><div
              data-thq="thq-dropdown-toggle"
              class="messanger-dropdown-toggle2"
              ><span class="messanger-text02">Sub-menu Item</span></div
            ></li
          ></ul
        ></div
      ><div class="messanger-container02"
        ><div class="messanger-container03"
          ><div class="messanger-profile"
            ><img
              alt="image"
              src="https://www.achernishev.ru/images/fotootchety/fitnes-modeli/fitnes-portret-07.jpg"
              class="messanger-image"
            /><div class="messanger-container04"
              ><span class="messanger-text03">Алексей</span></div
            ></div
          ></div
        ><div class="messanger-container05"
          ><span class="messanger-text04"
            >Ученик: Здравствуйте! Когда начнём тренировку?</span
          ><span class="messanger-text05"
            >Вы: Здравствуйте! Я готов после 17:00</span
          ><span class="messanger-text06"
            >Ученик: Здравствуйте! Когда начнём тренировку?</span
          ><span class="messanger-text07"
            >Вы: Здравствуйте! Я готов после 17:00</span
          ><span class="messanger-text08"
            >Ученик: Здравствуйте! Когда начнём тренировку?</span
          ><span class="messanger-text09"
            >Вы: Здравствуйте! Я готов после 17:00</span
          ></div
        ><div class="messanger-container06"
          ><input
            type="text"
            placeholder="Сообщение"
            class="messanger-textinput input" /><svg
            viewBox="0 0 808.5942857142857 1024"
            class="messanger-icon"
          >
            <path
              d="M790.857 529.714l-758.857 421.714c-17.714 9.714-32 1.143-32-18.857v-841.143c0-20 14.286-28.571 32-18.857l758.857 421.714c17.714 9.714 17.714 25.714 0 35.429z"
            ></path></svg></div></div
      ><div class="messanger-container07"
        ><div class="messanger-container08"
          ><header data-thq="thq-navbar" class="messanger-navbar-interactive"
            ><div data-thq="thq-navbar-nav" class="messanger-desktop-menu"
              ><nav class="messanger-links"
                ><span class="messanger-text10">Features</span
                ><span class="messanger-text11">Pricing</span
                ><span class="messanger-text12">Team</span
                ><span class="messanger-text13">Blog</span></nav
              ><div class="messanger-buttons"
                ><button class="messanger-login button">Login</button
                ><button class="button">Register</button></div
              ></div
            ><div data-thq="thq-burger-menu" class="messanger-burger-menu"
              ><svg viewBox="0 0 1024 1024" class="messanger-icon2">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path></svg></div
            ><div data-thq="thq-mobile-menu" class="messanger-mobile-menu"
              ><div class="messanger-nav"
                ><div class="messanger-top"
                  ><div data-thq="thq-close-menu" class="messanger-close-menu"
                    ><svg viewBox="0 0 1024 1024" class="messanger-icon4">
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path></svg></div></div
                ><nav class="messanger-links1"
                  ><span class="messanger-text14">Настройки</span
                  ><router-link to="/messages" class="messanger-navlink"
                    >Сообщения</router-link
                  ><router-link to="/page" class="messanger-navlink1"
                    >Тренеры</router-link
                  ><router-link to="/" class="messanger-navlink2"
                    >Выйти</router-link
                  ></nav
                ><div class="messanger-buttons1"
                  ><div class="messanger-profile1"
                    ><img
                      alt="image"
                      src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
                      class="messanger-image1"
                    /><div class="messanger-container09"
                      ><span class="messanger-text15"
                        >Имя <span v-html="rawrado"></span></span
                      ><span class="messanger-text16">View Profile</span></div
                    ></div
                  ></div
                ></div
              ></div
            ></header
          ></div
        ></div
      ><div data-thq="thq-dropdown" class="messanger-thq-dropdown list-item"
        ><ul data-thq="thq-dropdown-list" class="messanger-dropdown-list1"
          ><li data-thq="thq-dropdown" class="messanger-dropdown4 list-item"
            ><div
              data-thq="thq-dropdown-toggle"
              class="messanger-dropdown-toggle3"
              ><span class="messanger-text17">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="messanger-dropdown5 list-item"
            ><div
              data-thq="thq-dropdown-toggle"
              class="messanger-dropdown-toggle4"
              ><span class="messanger-text18">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="messanger-dropdown6 list-item"
            ><div
              data-thq="thq-dropdown-toggle"
              class="messanger-dropdown-toggle5"
              ><span class="messanger-text19">Sub-menu Item</span></div
            ></li
          ></ul
        ></div
      ></div
    ></div
  >
</template>

<script>
export default {
  name: 'Messanger',
  props: {},
  data() {
    return {
      rawrado: ' ',
    }
  },
  metaInfo: {
    title: 'messanger - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'messanger - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.messanger-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.messanger-container01 {
  width: 100%;
  height: 1254px;
  display: flex;
  overflow: hidden;
  min-height: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  padding-bottom: 22px;
  background-color: var(--dl-color-custom-neutral-dark);
}
.messanger-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messanger-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.messanger-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messanger-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messanger-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messanger-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messanger-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messanger-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messanger-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messanger-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messanger-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messanger-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messanger-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messanger-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messanger-container02 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 50%;
  height: 991px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  padding-top: 18px;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: 45px;
  padding-right: 45px;
  flex-direction: column;
  padding-bottom: 50px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.messanger-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.messanger-profile {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
}
.messanger-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.messanger-container04 {
  width: 158px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.messanger-text03 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0.25rem;
  text-transform: none;
  text-decoration: none;
}
.messanger-container05 {
  width: 100%;
  height: 914px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  overflow-x: auto;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  border-top-width: 1px;
  border-bottom-width: 0px;
}
.messanger-text04 {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-500);
}
.messanger-text05 {
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-500);
}
.messanger-text06 {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-500);
}
.messanger-text07 {
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-500);
}
.messanger-text08 {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-500);
}
.messanger-text09 {
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-500);
}
.messanger-container06 {
  width: 100%;
  bottom: 0;
  height: 68px;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
}
.messanger-textinput {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  width: 90%;
  height: 100%;
  border-width: 0px;
  background-color: var(--dl-color-custom-neutral-dark);
}
.messanger-icon {
  fill: var(--dl-color-primary-500);
  width: auto;
  height: 100%;
  padding: var(--dl-space-space-halfunit);
  margin-top: 0px;
}
.messanger-container07 {
  top: 0px;
  left: 0px;
  width: 294px;
  height: unset;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.messanger-container08 {
  width: 377px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.messanger-navbar-interactive {
  width: 121px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 35px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.messanger-desktop-menu {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.messanger-links {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.messanger-text10 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.messanger-text11 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.messanger-text12 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.messanger-text13 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.messanger-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.messanger-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.messanger-burger-menu {
  display: flex;
}
.messanger-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.messanger-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-dark);
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.messanger-nav {
  width: 263px;
  height: 417px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.messanger-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.messanger-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.messanger-icon4 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.messanger-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.messanger-text14 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.messanger-navlink {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.messanger-navlink1 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.messanger-navlink2 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.messanger-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.messanger-profile1 {
  width: 242px;
  height: 93px;
  display: flex;
  padding: 0p0x;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.messanger-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.messanger-container09 {
  width: 158px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.messanger-text15 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0.25rem;
  text-transform: none;
  text-decoration: none;
}
.messanger-text16 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}
.messanger-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messanger-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.messanger-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messanger-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messanger-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messanger-text17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messanger-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messanger-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messanger-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messanger-text18 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messanger-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messanger-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messanger-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messanger-text19 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 1920px) {
  .messanger-desktop-menu {
    display: none;
  }
  .messanger-burger-menu {
    display: flex;
  }
}
@media(max-width: 1330px) {
  .messanger-container02 {
    width: 70%;
  }
  .messanger-profile {
    opacity: 1;
  }
  .messanger-text14 {
    opacity: 1;
  }
  .messanger-navlink {
    opacity: 1;
  }
  .messanger-navlink1 {
    opacity: 1;
  }
  .messanger-navlink2 {
    opacity: 1;
  }
  .messanger-profile1 {
    opacity: 1;
  }
}
@media(max-width: 991px) {
  .messanger-container01 {
    height: 1125px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .messanger-container02 {
    height: 962px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .messanger-container03 {
    height: 57px;
  }
  .messanger-profile {
    height: 58px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .messanger-image {
    margin-left: 0px;
  }
  .messanger-container05 {
    height: 772px;
    border-top-width: 0px;
  }
  .messanger-top {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .messanger-links1 {
    height: 130px;
  }
  .messanger-text14 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messanger-navlink {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messanger-navlink1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messanger-profile1 {
    height: 58px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .messanger-image1 {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .messanger-container02 {
    padding-bottom: 0px;
  }
  .messanger-profile {
    height: 58px;
    margin-top: 0px;
  }
  .messanger-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .messanger-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .messanger-nav {
    height: 958px;
    margin-top: 0px;
  }
  .messanger-top {
    margin-bottom: var(--dl-space-space-unit);
  }
  .messanger-links1 {
    width: 50%;
    height: 119px;
    padding-bottom: 0px;
  }
  .messanger-text14 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messanger-navlink {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messanger-navlink1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messanger-navlink2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messanger-profile1 {
    height: 58px;
    margin-top: 0px;
  }
}
@media(max-width: 479px) {
  .messanger-container01 {
    height: 1269px;
    padding-bottom: 0px;
  }
  .messanger-container02 {
    width: 314px;
    height: 638px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .messanger-container03 {
    height: 58px;
  }
  .messanger-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .messanger-container05 {
    width: 100%;
    height: 461px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  .messanger-icon {
    width: auto;
  }
  .messanger-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .messanger-mobile-menu {
    padding: 16px;
  }
}
</style>
