<template>
  <div class="messages-container"
    ><div class="messages-container01"
      ><div data-thq="thq-dropdown" class="messages-dropdown list-item"
        ><ul data-thq="thq-dropdown-list" class="messages-dropdown-list"
          ><li data-thq="thq-dropdown" class="messages-dropdown1 list-item"
            ><div data-thq="thq-dropdown-toggle" class="messages-dropdown-toggle"
              ><span class="messages-text">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="messages-dropdown2 list-item"
            ><div data-thq="thq-dropdown-toggle" class="messages-dropdown-toggle1"
              ><span class="messages-text01">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="messages-dropdown3 list-item"
            ><div data-thq="thq-dropdown-toggle" class="messages-dropdown-toggle2"
              ><span class="messages-text02">Sub-menu Item</span></div
            ></li
          ></ul
        ></div
      ><div class="messages-container02"
        ><router-link to="/messanger" class="messages-navlink"
          ><div class="messages-container03"
            ><div class="messages-profile"
              ><img
                alt="image"
                src="https://www.achernishev.ru/images/fotootchety/fitnes-modeli/fitnes-portret-07.jpg"
                class="messages-image" /></div
            ><div class="messages-container04"
              ><span class="messages-text03">Алексей</span
              ><span class="messages-text04"
                >Вы: Здравствуйте! Я готов после 17:00</span
              ></div
            ></div
          ></router-link
        ><div class="messages-container05"
          ><div class="messages-profile1"
            ><img
              alt="image"
              src="https://spb.profi.ru/static/img/preg-landing/sprt.jpg"
              class="messages-image1" /></div
          ><div class="messages-container06"
            ><span class="messages-text05">Александр</span
            ><span class="messages-text06">Хорошо</span></div
          ></div
        ></div
      ><div class="messages-container07"
        ><div class="messages-container08"
          ><header data-thq="thq-navbar" class="messages-navbar-interactive"
            ><div data-thq="thq-navbar-nav" class="messages-desktop-menu"
              ><nav class="messages-links"
                ><span class="messages-text07">Features</span
                ><span class="messages-text08">Pricing</span
                ><span class="messages-text09">Team</span
                ><span class="messages-text10">Blog</span></nav
              ><div class="messages-buttons"
                ><button class="messages-login button">Login</button
                ><button class="button">Register</button></div
              ></div
            ><div data-thq="thq-burger-menu" class="messages-burger-menu"
              ><svg viewBox="0 0 1024 1024" class="messages-icon">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path></svg></div
            ><div data-thq="thq-mobile-menu" class="messages-mobile-menu"
              ><div class="messages-nav"
                ><div class="messages-top"
                  ><div data-thq="thq-close-menu" class="messages-close-menu"
                    ><svg viewBox="0 0 1024 1024" class="messages-icon2">
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path></svg></div></div
                ><nav class="messages-links1"
                  ><span class="messages-text11">Настройки</span
                  ><router-link to="/messages" class="messages-navlink1"
                    >Сообщения</router-link
                  ><router-link to="/page" class="messages-navlink2"
                    >Тренеры</router-link
                  ><router-link to="/" class="messages-navlink3"
                    >Выйти</router-link
                  ></nav
                ><div class="messages-buttons1"
                  ><div class="messages-profile2"
                    ><img
                      alt="image"
                      src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
                      class="messages-image2"
                    /><div class="messages-container09"
                      ><span class="messages-text12"
                        >Имя <span v-html="rawanr5"></span></span
                      ><span class="messages-text13">View Profile</span></div
                    ></div
                  ></div
                ></div
              ></div
            ></header
          ></div
        ></div
      ><div data-thq="thq-dropdown" class="messages-thq-dropdown list-item"
        ><ul data-thq="thq-dropdown-list" class="messages-dropdown-list1"
          ><li data-thq="thq-dropdown" class="messages-dropdown4 list-item"
            ><div data-thq="thq-dropdown-toggle" class="messages-dropdown-toggle3"
              ><span class="messages-text14">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="messages-dropdown5 list-item"
            ><div data-thq="thq-dropdown-toggle" class="messages-dropdown-toggle4"
              ><span class="messages-text15">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="messages-dropdown6 list-item"
            ><div data-thq="thq-dropdown-toggle" class="messages-dropdown-toggle5"
              ><span class="messages-text16">Sub-menu Item</span></div
            ></li
          ></ul
        ></div
      ></div
    ></div
  >
</template>

<script>
export default {
  name: 'Messages',
  props: {},
  data() {
    return {
      rawanr5: ' ',
    }
  },
  metaInfo: {
    title: 'messages - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'messages - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.messages-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.messages-container01 {
  width: 100%;
  height: 1254px;
  display: flex;
  overflow: hidden;
  min-height: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  padding-bottom: 22px;
  background-color: var(--dl-color-custom-neutral-dark);
}
.messages-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messages-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.messages-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messages-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messages-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messages-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messages-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messages-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messages-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messages-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messages-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messages-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messages-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messages-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messages-container02 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-end;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  padding-top: 18px;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: 45px;
  padding-right: 45px;
  flex-direction: column;
  padding-bottom: 50px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.messages-navlink {
  display: contents;
}
.messages-container03 {
  width: 100%;
  height: 97px;
  margin: var(--dl-space-space-unit);
  display: flex;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  text-decoration: none;
}
.messages-profile {
  width: 66px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.messages-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.messages-container04 {
  flex: 0 0 auto;
  width: 800px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  padding-right: 1px;
  flex-direction: column;
  justify-content: space-between;
}
.messages-text03 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  margin: var(--dl-space-space-halfunit);
  font-size: 24px;
}
.messages-text04 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  margin: var(--dl-space-space-halfunit);
  font-size: 20px;
}
.messages-container05 {
  width: 100%;
  height: 97px;
  margin: var(--dl-space-space-unit);
  display: flex;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
}
.messages-profile1 {
  width: 66px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.messages-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.messages-container06 {
  flex: 0 0 auto;
  width: 800px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  padding-right: 1px;
  flex-direction: column;
  justify-content: space-between;
}
.messages-text05 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  margin: var(--dl-space-space-halfunit);
  font-size: 24px;
}
.messages-text06 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  margin: var(--dl-space-space-halfunit);
  font-size: 20px;
}
.messages-container07 {
  top: 0px;
  left: 0px;
  width: 294px;
  height: unset;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.messages-container08 {
  width: 377px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.messages-navbar-interactive {
  width: 121px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 35px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.messages-desktop-menu {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.messages-links {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.messages-text07 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.messages-text08 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.messages-text09 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.messages-text10 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.messages-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.messages-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.messages-burger-menu {
  display: flex;
}
.messages-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.messages-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-dark);
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.messages-nav {
  width: 263px;
  height: 417px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.messages-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.messages-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.messages-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.messages-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.messages-text11 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.messages-navlink1 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.messages-navlink2 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.messages-navlink3 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.messages-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.messages-profile2 {
  width: 242px;
  height: 93px;
  display: flex;
  padding: 0p0x;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.messages-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.messages-container09 {
  width: 158px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.messages-text12 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0.25rem;
  text-transform: none;
  text-decoration: none;
}
.messages-text13 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}
.messages-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messages-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.messages-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messages-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messages-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messages-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messages-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messages-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messages-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messages-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.messages-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.messages-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.messages-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.messages-text16 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 1920px) {
  .messages-desktop-menu {
    display: none;
  }
  .messages-burger-menu {
    display: flex;
  }
}
@media(max-width: 1330px) {
  .messages-container02 {
    width: 80%;
  }
  .messages-profile {
    opacity: 1;
  }
  .messages-profile1 {
    opacity: 1;
  }
  .messages-text11 {
    opacity: 1;
  }
  .messages-navlink1 {
    opacity: 1;
  }
  .messages-navlink2 {
    opacity: 1;
  }
  .messages-navlink3 {
    opacity: 1;
  }
  .messages-profile2 {
    opacity: 1;
  }
}
@media(max-width: 991px) {
  .messages-container01 {
    height: 1125px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .messages-container02 {
    height: 100%;
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .messages-profile {
    height: 58px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .messages-image {
    margin-left: 0px;
  }
  .messages-profile1 {
    height: 58px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .messages-image1 {
    margin-left: 0px;
  }
  .messages-top {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .messages-links1 {
    height: 130px;
  }
  .messages-text11 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messages-navlink1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messages-navlink2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messages-profile2 {
    height: 58px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .messages-image2 {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .messages-container01 {
    align-items: flex-end;
  }
  .messages-container02 {
    right: 0px;
    width: 90%;
    padding-bottom: 0px;
  }
  .messages-profile {
    height: 58px;
    margin-top: 0px;
  }
  .messages-profile1 {
    height: 58px;
    margin-top: 0px;
  }
  .messages-container08 {
    width: 100%;
  }
  .messages-navbar-interactive {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-fourunits);
  }
  .messages-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .messages-nav {
    height: 958px;
    margin-top: 0px;
  }
  .messages-top {
    margin-bottom: var(--dl-space-space-unit);
  }
  .messages-links1 {
    width: 50%;
    height: 119px;
    padding-bottom: 0px;
  }
  .messages-text11 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messages-navlink1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messages-navlink2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messages-navlink3 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .messages-profile2 {
    height: 58px;
    margin-top: 0px;
  }
}
@media(max-width: 479px) {
  .messages-container01 {
    height: 1269px;
    padding-bottom: 0px;
  }
  .messages-container02 {
    width: 90%;
    height: 100%;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .messages-text04 {
    font-size: 14px;
  }
  .messages-text06 {
    font-size: 14px;
  }
  .messages-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-left: 5px;
  }
  .messages-mobile-menu {
    padding: 16px;
  }
}
</style>
