<template>
  <div class="page-container">
    <div data-thq="thq-dropdown" class="page-thq-dropdown list-item">
      <ul data-thq="thq-dropdown-list" class="page-dropdown-list">
        <li data-thq="thq-dropdown" class="page-dropdown list-item">
          <div data-thq="thq-dropdown-toggle" class="page-dropdown-toggle">
            <span class="page-text">Sub-menu Item</span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="page-dropdown1 list-item">
          <div data-thq="thq-dropdown-toggle" class="page-dropdown-toggle1">
            <span class="page-text01">Sub-menu Item</span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="page-dropdown2 list-item">
          <div data-thq="thq-dropdown-toggle" class="page-dropdown-toggle2">
            <span class="page-text02">Sub-menu Item</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="page-container01">
      <div class="page-sidebar">
        <nav class="page-nav">
          <svg viewBox="0 0 1024 1024" class="page-icon">
            <path
              d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
            ></path>
          </svg>
          <span class="page-text03">Настройки</span>
          <span class="page-text04"><router-link to="/messages">Сообщения</router-link></span>
          <span class="page-text05">Тренеры</span>
          <span class="page-text06"><router-link to="/">Выйти</router-link></span>
        </nav>
        <div class="page-profile">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
            class="page-image"
          />
          <div class="page-container02">
            <span class="page-text07">Имя ученика</span>
            <span class="page-text08">View Profile</span>
          </div>
        </div>
      </div>
    </div>
    <div data-thq="thq-dropdown" class="page-thq-dropdown1 list-item">
      <ul data-thq="thq-dropdown-list" class="page-dropdown-list1">
        <li data-thq="thq-dropdown" class="page-dropdown3 list-item">
          <div data-thq="thq-dropdown-toggle" class="page-dropdown-toggle3">
            <span class="page-text09">Sub-menu Item</span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="page-dropdown4 list-item">
          <div data-thq="thq-dropdown-toggle" class="page-dropdown-toggle4">
            <span class="page-text10">Sub-menu Item</span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="page-dropdown5 list-item">
          <div data-thq="thq-dropdown-toggle" class="page-dropdown-toggle5">
            <span class="page-text11">Sub-menu Item</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="page-container03">
      <div class="page-container04">
        <div class="page-container05">
          <button type="button" class="page-button button">Написать</button>
          <button type="button" class="page-button1 button">Скрыть</button>
        </div>
        <div class="page-container06">
          <div class="page-container07">
            <img
              alt="image"
              src="https://spb.profi.ru/static/img/preg-landing/sprt.jpg"
              class="page-image1"
            />
          </div>
          <div class="page-container08">
            <div class="page-container09">
              <span class="page-text12 Heading">Александр</span>
              <span class="page-text13">Стаж 5 лет</span>
            </div>
            <div class="page-container10">
              <span class="page-text14">
                Привет, я молодой, но уже опытный тренер, который поможет
                составить тебе программу тренировок.
              </span>
            </div>
            <div class="page-container11">
              <span class="page-text15">
                Увлекаюсь: бег, баскетбол, гимнастика.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="page-container12">
        <div class="page-container13">
          <button type="button" class="page-button2 button">Написать</button>
          <button type="button" class="page-button3 button">Скрыть</button>
        </div>
        <div class="page-container14">
          <div class="page-container15">
            <img
              alt="image"
              src="https://spb.profi.ru/static/img/preg-landing/sprt.jpg"
              class="page-image2"
            />
          </div>
          <div class="page-container16">
            <div class="page-container17">
              <span class="page-text16 Heading">Александр</span>
              <span class="page-text17">Стаж 5 лет</span>
            </div>
            <div class="page-container18">
              <span class="page-text18">
                Привет, я молодой, но уже опытный тренер, который поможет
                составить тебе программу тренировок.
              </span>
            </div>
            <div class="page-container19">
              <span class="page-text19">
                Увлекаюсь: бег, баскетбол, гимнастика.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="page-container20">
        <div class="page-container21">
          <button type="button" class="page-button4 button">Написать</button>
          <button type="button" class="page-button5 button">Скрыть</button>
        </div>
        <div class="page-container22">
          <div class="page-container23">
            <img
              alt="image"
              src="https://spb.profi.ru/static/img/preg-landing/sprt.jpg"
              class="page-image3"
            />
          </div>
          <div class="page-container24">
            <div class="page-container25">
              <span class="page-text20 Heading">Александр</span>
              <span class="page-text21">Стаж 5 лет</span>
            </div>
            <div class="page-container26">
              <span class="page-text22">
                Привет, я молодой, но уже опытный тренер, который поможет
                составить тебе программу тренировок.
              </span>
            </div>
            <div class="page-container27">
              <span class="page-text23">
                Увлекаюсь: бег, баскетбол, гимнастика.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Page',
  props: {},
  metaInfo: {
    title: 'Page - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'Page - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: var(--dl-color-custom-neutral-dark);
}
.page-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.page-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.page-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.page-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.page-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.page-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.page-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.page-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.page-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.page-container01 {
  top: 0px;
  left: 0px;
  width: 294px;
  height: unset;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page-sidebar {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
}
.page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-icon {
  fill: #D9D9D9;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text03 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text04 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text05 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text06 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.page-profile {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.page-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.page-container02 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.page-text07 {
  color: var(--dl-color-gray-900);
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.page-text08 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}
.page-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.page-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.page-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.page-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.page-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.page-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.page-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.page-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.page-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.page-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.page-container03 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 902px;
  height: var(--dl-size-size-maxwidth);
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  align-self: flex-end;
  align-items: center;
  padding-top: 50px;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: 50px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.page-container04 {
  width: 100%;
  height: 279px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.page-container05 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.page-button {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-primary-300);
}
.page-button1 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-danger-500);
}
.page-container06 {
  width: 100%;
  height: 223px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.page-container07 {
  flex: 0 0 auto;
  width: 269px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-image1 {
  width: 100%;
  height: 324px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-container08 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 514px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.page-container09 {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: 0px;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page-text12 {
  color: var(--dl-color-gray-900);
}
.page-text13 {
  color: var(--dl-color-gray-900);
}
.page-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.page-text14 {
  color: var(--dl-color-gray-900);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  padding-right: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.page-container11 {
  width: 100%;
  height: 155px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.page-text15 {
  color: var(--dl-color-gray-900);
}
.page-container12 {
  width: 100%;
  height: 279px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.page-container13 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.page-button2 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-primary-300);
}
.page-button3 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-danger-500);
}
.page-container14 {
  width: 100%;
  height: 223px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.page-container15 {
  flex: 0 0 auto;
  width: 269px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-image2 {
  width: 100%;
  height: 324px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-container16 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 514px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.page-container17 {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: 0px;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page-text16 {
  color: var(--dl-color-gray-900);
}
.page-text17 {
  color: var(--dl-color-gray-900);
}
.page-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.page-text18 {
  color: var(--dl-color-gray-900);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  padding-right: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.page-container19 {
  width: 100%;
  height: 155px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.page-text19 {
  color: var(--dl-color-gray-900);
}
.page-container20 {
  width: 100%;
  height: 279px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.page-container21 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.page-button4 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-primary-300);
}
.page-button5 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-danger-500);
}
.page-container22 {
  width: 100%;
  height: 223px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.page-container23 {
  flex: 0 0 auto;
  width: 269px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-image3 {
  width: 100%;
  height: 324px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-container24 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 514px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.page-container25 {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: 0px;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page-text20 {
  color: var(--dl-color-gray-900);
}
.page-text21 {
  color: var(--dl-color-gray-900);
}
.page-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.page-text22 {
  color: var(--dl-color-gray-900);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  padding-right: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.page-container27 {
  width: 100%;
  height: 155px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.page-text23 {
  color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .page-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .page-image {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .page-icon {
    display: flex;
  }
}
</style>
