<template>
  <div class="register-container">
    <header class="register-container1">
      <input
        type="text"
        placeholder="Введите пароль"
        class="register-textinput input"
        v-model="password"
      />
      <input
        type="text"
        placeholder="Введите почту"
        class="register-textinput1 input"
        v-model="email"
      />
      <button type="button" class="register-button" v-on:click="login">
        <span class="register-text">
          <span>Зарегистрироваться</span>
          <br />
        </span>
      </button>
      <input
        type="text"
        placeholder="Повторите пароль"
        class="register-textinput2 input"
        v-model="repeatPassword"
      />
      <select class="register-select">
        <option value="student" class="register-option">Студент</option>
        <option value="coach" class="register-option1">Тренер</option>
        <!-- v-model: "role" -->
      </select>
      <router-link to="/login" class="register-navlink">
        <span class="register-text3">
          Уже зарегистрированы?
          <span v-html="rawoa7w"></span>
        </span>
      </router-link>
      <span class="register-logo logo">FitMatch</span>
    </header>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data() {
    return {
      API_URL: 'http://localhost:3000/auth/register',
      user: null,
      email: '',
      password: '',
      repeatPassword: '',
      isLoading: false,
    }
  },
  props: {},
  methods: {
    async register() {
      this.isLoading = true
      await axios
      .post(
        `${this.API_URL}`,
        { email: this.email, password: this.password},
        {
          headers: { 'Content-Type': 'application/json'},
        }
      )
      .then(({ data }) => {
          this.user = data.user
          this.isLoading = false
      })
    }
  },
  data() {
    return {
      rawoa7w: ' ',
    }
  },
  metaInfo: {
    title: 'Register - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'Register - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.register-container1 {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-custom-neutral-dark);
}
.register-textinput {
  top: 200px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.register-textinput1 {
  top: 100px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 59px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.register-button {
  top: 500px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  margin: auto;
  position: absolute;
  border-width: 0px;
  background-color: transparent;
}
.register-text {
  font-size: 18px;
  padding-top: var(--dl-space-space-halfunit);
}
.register-textinput2 {
  top: 300px;
  left: 0px;
  color: var(--dl-color-gray-900);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-black);
}
.register-select {
  top: 400px;
  left: 0px;
  color: var(--dl-color-gray-700);
  right: 0px;
  width: 270px;
  height: 60px;
  margin: auto;
  position: absolute;
  transition: 0.3s;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  background-color: var(--dl-color-gray-black);
}
.register-select:focus {
  border-color: var(--dl-color-gray-black);
}
.register-option {
  color: var(--dl-color-gray-700);
  background-color: var(--dl-color-gray-black);
  text-decoration-color: var(--dl-color-gray-700);
}
.register-option1 {
  color: var(--dl-color-gray-700);
  background-color: var(--dl-color-gray-black);
  text-decoration-color: var(--dl-color-gray-700);
}
.register-navlink {
  color: var(--dl-color-gray-700);
  margin-top: 0px;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.register-logo {
  top: 30px;
  left: 30px;
  color: var(--dl-color-gray-700);
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
@media(max-width: 1600px) {
  .register-text {
    font-size: 18px;
  }
  .register-navlink {
    top: 600px;
    color: var(--dl-color-gray-700);
    width: 200px;
    height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
  }
  .register-text3 {
    text-transform: capitalize;
  }
  .register-text4 {
    text-transform: lowercase;
  }
  .register-text5 {
    text-transform: capitalize;
  }
}
</style>
