<template>
  <div class="slider-container"
    ><header data-thq="thq-navbar" class="slider-navbar-interactive"
      ><div data-thq="thq-navbar-nav" class="slider-desktop-menu"
        ><nav class="slider-links"
          ><span class="slider-text">Features</span
          ><span class="slider-text01">Pricing</span
          ><span class="slider-text02">Team</span
          ><span class="slider-text03">Blog</span></nav
        ><div class="slider-buttons"
          ><button class="slider-login button">Login</button
          ><button class="button">Register</button></div
        ></div
      ><div data-thq="thq-burger-menu" class="slider-burger-menu"
        ><svg viewBox="0 0 1024 1024" class="slider-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path></svg></div
      ><div data-thq="thq-mobile-menu" class="slider-mobile-menu"
        ><div class="slider-nav"
          ><div class="slider-top"
            ><div data-thq="thq-close-menu" class="slider-close-menu"
              ><svg viewBox="0 0 1024 1024" class="slider-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path></svg></div></div
          ><nav class="slider-links1"
            ><span class="slider-text04">Настройки</span
            ><span class="slider-text05">Сообщения</span
            ><span class="slider-text06">Тренеры</span
            ><span class="slider-text07">Выйти</span></nav
          ><div class="slider-buttons1"
            ><div class="slider-profile"
              ><img
                alt="image"
                src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
                class="slider-image"
              /><div class="slider-container1"
                ><span class="slider-text08"
                  >Имя <span v-html="rawt1oy"></span></span
                ><span class="slider-text09">View Profile</span></div
              ></div
            ></div
          ></div
        ></div
      ></header
    ></div
  >
</template>

<script>
export default {
  name: 'Slider',
  props: {},
  data() {
    return {
      rawt1oy: ' ',
    }
  },
  metaInfo: {
    title: 'Slider - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'Slider - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.slider-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-neutral-dark);
}
.slider-navbar-interactive {
  width: 121px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 35px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.slider-desktop-menu {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.slider-links {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.slider-text {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.slider-text01 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.slider-text02 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.slider-text03 {
  color: var(--dl-color-gray-900);
  margin-left: var(--dl-space-space-twounits);
}
.slider-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.slider-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.slider-burger-menu {
  display: flex;
}
.slider-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.slider-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-dark);
}
.slider-nav {
  width: 283px;
  height: 417px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: column;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.slider-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.slider-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.slider-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.slider-text04 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.slider-text05 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.slider-text06 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.slider-text07 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.slider-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.slider-profile {
  width: 242px;
  height: 93px;
  display: flex;
  padding: 0p0x;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.slider-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.slider-container1 {
  width: 158px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.slider-text08 {
  color: var(--dl-color-gray-900);
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0.25rem;
  text-transform: none;
  text-decoration: none;
}
.slider-text09 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}
@media(max-width: 1920px) {
  .slider-desktop-menu {
    display: none;
  }
  .slider-burger-menu {
    display: flex;
  }
}
@media(max-width: 1330px) {
  .slider-text04 {
    opacity: 1;
  }
  .slider-text05 {
    opacity: 1;
  }
  .slider-text06 {
    opacity: 1;
  }
  .slider-text07 {
    opacity: 1;
  }
  .slider-profile {
    opacity: 1;
  }
}
@media(max-width: 991px) {
  .slider-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .slider-image {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .slider-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .slider-burger-menu {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .slider-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .slider-mobile-menu {
    padding: 16px;
  }
}
</style>
