<template>
  <div class="slider2-container"
    ><div class="slider2-container01"
      ><div data-thq="thq-dropdown" class="slider2-dropdown list-item"
        ><ul data-thq="thq-dropdown-list" class="slider2-dropdown-list"
          ><li data-thq="thq-dropdown" class="slider2-dropdown1 list-item"
            ><div data-thq="thq-dropdown-toggle" class="slider2-dropdown-toggle"
              ><span class="slider2-text">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="slider2-dropdown2 list-item"
            ><div data-thq="thq-dropdown-toggle" class="slider2-dropdown-toggle1"
              ><span class="slider2-text01">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="slider2-dropdown3 list-item"
            ><div data-thq="thq-dropdown-toggle" class="slider2-dropdown-toggle2"
              ><span class="slider2-text02">Sub-menu Item</span></div
            ></li
          ></ul
        ></div
      ><div class="slider2-container02"
        ><div class="slider2-container03"
          ><div class="slider2-container04"
            ><button type="button" class="slider2-button button">Написать</button
            ><button type="button" class="slider2-button1 button"
              >Скрыть</button
            ></div
          ><div class="slider2-container05"
            ><div class="slider2-container06"
              ><img
                alt="image"
                src="https://spb.profi.ru/static/img/preg-landing/sprt.jpg"
                class="slider2-image" /></div
            ><div class="slider2-container07"
              ><div class="slider2-container08"
                ><span class="slider2-text03 Content">Александр</span></div
              ><div class="slider2-container09"
                ><span class="slider2-text04"
                  >Привет, я молодой, но уже опытный тренер, который поможет
                  составить тебе программу тренировок.</span
                ></div
              ><div class="slider2-container10"
                ><span class="slider2-text05"
                  >Увлекаюсь: бег, баскетбол, гимнастика.</span
                ></div
              ></div
            ></div
          ></div
        ><div class="slider2-container11"
          ><div class="slider2-container12"
            ><button type="button" class="slider2-button2 button">Написать</button
            ><button type="button" class="slider2-button3 button"
              >Скрыть</button
            ></div
          ><div class="slider2-container13"
            ><div class="slider2-container14"
              ><img
                alt="image"
                src="https://spb.profi.ru/static/img/preg-landing/sprt.jpg"
                class="slider2-image1" /></div
            ><div class="slider2-container15"
              ><div class="slider2-container16"
                ><span class="slider2-text06 Content">Александр</span></div
              ><div class="slider2-container17"
                ><span class="slider2-text07"
                  >Привет, я молодой, но уже опытный тренер, который поможет
                  составить тебе программу тренировок.</span
                ></div
              ><div class="slider2-container18"
                ><span class="slider2-text08"
                  >Увлекаюсь: бег, баскетбол, гимнастика.</span
                ></div
              ></div
            ></div
          ></div
        ><div class="slider2-container19"
          ><div class="slider2-container20"
            ><button type="button" class="slider2-button4 button">Написать</button
            ><button type="button" class="slider2-button5 button"
              >Скрыть</button
            ></div
          ><div class="slider2-container21"
            ><div class="slider2-container22"
              ><img
                alt="image"
                src="https://spb.profi.ru/static/img/preg-landing/sprt.jpg"
                class="slider2-image2" /></div
            ><div class="slider2-container23"
              ><div class="slider2-container24"
                ><span class="slider2-text09 Content">Александр</span></div
              ><div class="slider2-container25"
                ><span class="slider2-text10"
                  >Привет, я молодой, но уже опытный тренер, который поможет
                  составить тебе программу тренировок.</span
                ></div
              ><div class="slider2-container26"
                ><span class="slider2-text11"
                  >Увлекаюсь: бег, баскетбол, гимнастика.</span
                ></div
              ></div
            ></div
          ></div
        ></div
      ><div class="slider2-container27"
        ><div class="slider2-container28"
          ><app-component></app-component></div></div
      ><div data-thq="thq-dropdown" class="slider2-thq-dropdown list-item"
        ><ul data-thq="thq-dropdown-list" class="slider2-dropdown-list1"
          ><li data-thq="thq-dropdown" class="slider2-dropdown4 list-item"
            ><div data-thq="thq-dropdown-toggle" class="slider2-dropdown-toggle3"
              ><span class="slider2-text12">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="slider2-dropdown5 list-item"
            ><div data-thq="thq-dropdown-toggle" class="slider2-dropdown-toggle4"
              ><span class="slider2-text13">Sub-menu Item</span></div
            ></li
          ><li data-thq="thq-dropdown" class="slider2-dropdown6 list-item"
            ><div data-thq="thq-dropdown-toggle" class="slider2-dropdown-toggle5"
              ><span class="slider2-text14">Sub-menu Item</span></div
            ></li
          ></ul
        ></div
      ></div
    ></div
  >
</template>

<script>
import AppComponent from '../components/component'

export default {
  name: 'Slider2',
  props: {},
  components: {
    AppComponent,
  },
  metaInfo: {
    title: 'Slider2 - FitMatch',
    meta: [
      {
        property: 'og:title',
        content: 'Slider2 - FitMatch',
      },
    ],
  },
}
</script>

<style scoped>
.slider2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.slider2-container01 {
  width: 100%;
  display: flex;
  min-height: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: var(--dl-color-custom-neutral-dark);
}
.slider2-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.slider2-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.slider2-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.slider2-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.slider2-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.slider2-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.slider2-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.slider2-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.slider2-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.slider2-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.slider2-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.slider2-container02 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 902px;
  height: var(--dl-size-size-maxwidth);
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  align-self: flex-end;
  align-items: center;
  padding-top: 50px;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: 45px;
  padding-right: 45px;
  flex-direction: column;
  padding-bottom: 50px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.slider2-container03 {
  width: 100%;
  height: 279px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.slider2-container04 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.slider2-button {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-primary-300);
}
.slider2-button1 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-danger-500);
}
.slider2-container05 {
  width: 100%;
  height: 223px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.slider2-container06 {
  flex: 0 0 auto;
  width: 291px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.slider2-image {
  width: 100%;
  height: 324px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-container07 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 514px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.slider2-container08 {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: 0px;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.slider2-text03 {
  color: var(--dl-color-gray-900);
}
.slider2-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.slider2-text04 {
  color: var(--dl-color-gray-900);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  padding-right: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.slider2-container10 {
  width: 100%;
  height: 155px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.slider2-text05 {
  color: var(--dl-color-gray-900);
}
.slider2-container11 {
  width: 100%;
  height: 279px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.slider2-container12 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.slider2-button2 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-primary-300);
}
.slider2-button3 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-danger-500);
}
.slider2-container13 {
  width: 100%;
  height: 223px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.slider2-container14 {
  flex: 0 0 auto;
  width: 291px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.slider2-image1 {
  width: 100%;
  height: 324px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-container15 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 514px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.slider2-container16 {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: 0px;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.slider2-text06 {
  color: var(--dl-color-gray-900);
}
.slider2-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.slider2-text07 {
  color: var(--dl-color-gray-900);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  padding-right: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.slider2-container18 {
  width: 100%;
  height: 155px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.slider2-text08 {
  color: var(--dl-color-gray-900);
}
.slider2-container19 {
  width: 100%;
  height: 279px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.slider2-container20 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.slider2-button4 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-primary-300);
}
.slider2-button5 {
  color: var(--dl-color-gray-900);
  width: 124px;
  background-color: var(--dl-color-danger-500);
}
.slider2-container21 {
  width: 100%;
  height: 223px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.slider2-container22 {
  flex: 0 0 auto;
  width: 291px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.slider2-image2 {
  width: 100%;
  height: 324px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-container23 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 514px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.slider2-container24 {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 2px;
  margin-right: 0px;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.slider2-text09 {
  color: var(--dl-color-gray-900);
}
.slider2-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.slider2-text10 {
  color: var(--dl-color-gray-900);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  padding-right: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.slider2-container26 {
  width: 100%;
  height: 155px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.slider2-text11 {
  color: var(--dl-color-gray-900);
}
.slider2-container27 {
  top: 0px;
  left: 0px;
  width: 294px;
  height: unset;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.slider2-container28 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.slider2-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.slider2-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.slider2-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.slider2-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.slider2-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.slider2-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.slider2-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.slider2-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.slider2-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.slider2-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.slider2-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.slider2-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 1600px) {
  .slider2-container06 {
    width: 290px;
  }
  .slider2-image {
    width: 100%;
  }
  .slider2-container14 {
    width: 290px;
  }
  .slider2-image1 {
    width: 100%;
  }
  .slider2-container22 {
    width: 290px;
  }
  .slider2-image2 {
    width: 100%;
  }
}
@media(max-width: 1330px) {
  .slider2-container02 {
    width: 70%;
  }
  .slider2-container06 {
    width: 257px;
  }
  .slider2-image {
    width: 100%;
  }
  .slider2-container07 {
    width: 555px;
    position: static;
  }
  .slider2-container08 {
    width: 327px;
    align-self: flex-start;
    border-bottom-width: 0px;
  }
  .slider2-container09 {
    width: 338px;
    align-self: flex-start;
    padding-left: 0px;
  }
  .slider2-text04 {
    color: var(--dl-color-gray-900);
    width: auto;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container10 {
    width: 313px;
    align-self: flex-start;
  }
  .slider2-text05 {
    width: auto;
  }
  .slider2-container14 {
    width: 257px;
  }
  .slider2-image1 {
    width: 100%;
  }
  .slider2-container15 {
    width: 555px;
    position: static;
  }
  .slider2-container16 {
    width: 327px;
    align-self: flex-start;
    border-bottom-width: 0px;
  }
  .slider2-container17 {
    width: 338px;
    align-self: flex-start;
    padding-left: 0px;
  }
  .slider2-text07 {
    color: var(--dl-color-gray-900);
    width: auto;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container18 {
    width: 313px;
    align-self: flex-start;
  }
  .slider2-text08 {
    width: auto;
  }
  .slider2-container22 {
    width: 257px;
  }
  .slider2-image2 {
    width: 100%;
  }
  .slider2-container23 {
    width: 555px;
    position: static;
  }
  .slider2-container24 {
    width: 327px;
    align-self: flex-start;
    border-bottom-width: 0px;
  }
  .slider2-container25 {
    width: 338px;
    align-self: flex-start;
    padding-left: 0px;
  }
  .slider2-text10 {
    color: var(--dl-color-gray-900);
    width: auto;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container26 {
    width: 313px;
    align-self: flex-start;
  }
  .slider2-text11 {
    width: auto;
  }
}
@media(max-width: 991px) {
  .slider2-container02 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .slider2-image {
    width: 236px;
  }
  .slider2-container07 {
    width: 416px;
  }
  .slider2-container08 {
    width: 340px;
    height: 50px;
  }
  .slider2-container09 {
    width: 213px;
    height: 107px;
  }
  .slider2-container10 {
    width: 213px;
    height: 77px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: 0px;
  }
  .slider2-image1 {
    width: 236px;
  }
  .slider2-container15 {
    width: 416px;
  }
  .slider2-container16 {
    width: 340px;
    height: 50px;
  }
  .slider2-container17 {
    width: 213px;
    height: 107px;
  }
  .slider2-container18 {
    width: 213px;
    height: 77px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: 0px;
  }
  .slider2-image2 {
    width: 236px;
  }
  .slider2-container23 {
    width: 416px;
  }
  .slider2-container24 {
    width: 340px;
    height: 50px;
  }
  .slider2-container25 {
    width: 213px;
    height: 107px;
  }
  .slider2-container26 {
    width: 213px;
    height: 77px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: 0px;
  }
}
@media(max-width: 767px) {
  .slider2-container03 {
    height: 209px;
    padding-bottom: 0px;
  }
  .slider2-container04 {
    left: 1px;
    bottom: 0px;
    height: 45px;
    position: absolute;
    align-self: flex-start;
    padding-bottom: 0px;
  }
  .slider2-container05 {
    height: 152px;
  }
  .slider2-container06 {
    width: 173px;
    height: 100%;
    padding-right: 0px;
  }
  .slider2-image {
    width: 168px;
    height: 127px;
  }
  .slider2-container07 {
    width: 350px;
    height: 162px;
    align-self: flex-start;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .slider2-container08 {
    width: 100%;
    height: 17px;
    position: relative;
    align-self: flex-end;
    margin-left: 0px;
  }
  .slider2-text03 {
    left: 0px;
    bottom: -1px;
    position: absolute;
  }
  .slider2-container09 {
    left: 0px;
    width: 312px;
    bottom: 31px;
    height: 50%;
    position: absolute;
    align-self: flex-start;
    align-items: flex-start;
    padding-top: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
  .slider2-text04 {
    color: var(--dl-color-gray-900);
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    padding-left: 168px;
    padding-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container10 {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 31px;
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
  }
  .slider2-text05 {
    color: var(--dl-color-gray-900);
    margin-left: var(--dl-space-space-halfunit);
  }
  .slider2-container11 {
    height: 209px;
    padding-bottom: 0px;
  }
  .slider2-container12 {
    left: 1px;
    bottom: 0px;
    height: 45px;
    position: absolute;
    align-self: flex-start;
    padding-bottom: 0px;
  }
  .slider2-container13 {
    height: 152px;
  }
  .slider2-container14 {
    width: 173px;
    height: 100%;
    padding-right: 0px;
  }
  .slider2-image1 {
    width: 168px;
    height: 127px;
  }
  .slider2-container15 {
    width: 350px;
    height: 162px;
    align-self: flex-start;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .slider2-container16 {
    width: 100%;
    height: 17px;
    position: relative;
    align-self: flex-end;
    margin-left: 0px;
  }
  .slider2-text06 {
    left: 0px;
    bottom: -1px;
    position: absolute;
  }
  .slider2-container17 {
    left: 0px;
    width: 312px;
    bottom: 31px;
    height: 50%;
    position: absolute;
    align-self: flex-start;
    align-items: flex-start;
    padding-top: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
  .slider2-text07 {
    color: var(--dl-color-gray-900);
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    padding-left: 168px;
    padding-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container18 {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 31px;
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
  }
  .slider2-text08 {
    color: var(--dl-color-gray-900);
    margin-left: var(--dl-space-space-halfunit);
  }
  .slider2-container19 {
    height: 209px;
    padding-bottom: 0px;
  }
  .slider2-container20 {
    left: 1px;
    bottom: 0px;
    height: 45px;
    position: absolute;
    align-self: flex-start;
    padding-bottom: 0px;
  }
  .slider2-container21 {
    height: 152px;
  }
  .slider2-container22 {
    width: 173px;
    height: 100%;
    padding-right: 0px;
  }
  .slider2-image2 {
    width: 168px;
    height: 127px;
  }
  .slider2-container23 {
    width: 350px;
    height: 162px;
    align-self: flex-start;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .slider2-container24 {
    width: 100%;
    height: 17px;
    position: relative;
    align-self: flex-end;
    margin-left: 0px;
  }
  .slider2-text09 {
    left: 0px;
    bottom: -1px;
    position: absolute;
  }
  .slider2-container25 {
    left: 0px;
    width: 312px;
    bottom: 31px;
    height: 50%;
    position: absolute;
    align-self: flex-start;
    align-items: flex-start;
    padding-top: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
  .slider2-text10 {
    color: var(--dl-color-gray-900);
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    padding-left: 168px;
    padding-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container26 {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 31px;
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
  }
  .slider2-text11 {
    color: var(--dl-color-gray-900);
    margin-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .slider2-container02 {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .slider2-container06 {
    width: 117px;
    height: 98px;
  }
  .slider2-image {
    width: 116px;
    height: 100%;
  }
  .slider2-container07 {
    width: 205px;
    height: 100%;
  }
  .slider2-container08 {
    width: 100%;
  }
  .slider2-text03 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .slider2-container09 {
    width: 329px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .slider2-text04 {
    color: var(--dl-color-gray-900);
    width: 100%;
    padding: 0px;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    margin-left: 120px;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container10 {
    width: 100%;
  }
  .slider2-text05 {
    color: var(--dl-color-gray-900);
    font-size: 12px;
  }
  .slider2-container14 {
    width: 117px;
    height: 98px;
  }
  .slider2-image1 {
    width: 116px;
    height: 100%;
  }
  .slider2-container15 {
    width: 205px;
    height: 100%;
  }
  .slider2-container16 {
    width: 100%;
  }
  .slider2-text06 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .slider2-container17 {
    width: 329px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .slider2-text07 {
    color: var(--dl-color-gray-900);
    width: 100%;
    padding: 0px;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    margin-left: 120px;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container18 {
    width: 100%;
  }
  .slider2-text08 {
    color: var(--dl-color-gray-900);
    font-size: 12px;
  }
  .slider2-container22 {
    width: 117px;
    height: 98px;
  }
  .slider2-image2 {
    width: 116px;
    height: 100%;
  }
  .slider2-container23 {
    width: 205px;
    height: 100%;
  }
  .slider2-container24 {
    width: 100%;
  }
  .slider2-text09 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .slider2-container25 {
    width: 329px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .slider2-text10 {
    color: var(--dl-color-gray-900);
    width: 100%;
    padding: 0px;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    margin-left: 120px;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .slider2-container26 {
    width: 100%;
  }
  .slider2-text11 {
    color: var(--dl-color-gray-900);
    font-size: 12px;
  }
}
</style>
